.container-img {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container-img img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container-img .delete-btn {
    position: absolute;
    top: 7%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    width: 35px;
    border: none;
    cursor: pointer;
  }
